@import "partials/reset";

// these should be the only used colors on the page
$main-color : #ffffff;
$alt-color : #99cccc;
$light-grey : #666666;
$dark-grey : #333333;

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-width: 320px;
  width: auto;
  background-color: $main-color;
  font-family: 'Open Sans', sans-serif;
}

.lander {
  background-color: $alt-color;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  flex-basis: 2px;
  width: 100%;

  .nav-container {
    width: 100%;
    position: absolute;
    top: 2px;



    .nav {
      display: flex;
      flex: 0 0 50px;
      align-items: center;
      justify-content: space-between;
      background-color: $dark-grey;
      color: $alt-color;
      width: 100%;
      height: 50px;
      position: absolute;

      #nav-logo {
        width: 10vw;
        margin-left: 20px;
      }

      #nav-text-bold {
        font-size: 4vw;
        font-weight: 700;
        position: absolute;
        right: 69vw;
        #nav-text {
          font-weight: initial;
        }
      }

      #nav-option-btn {
        height: 70%;
        width: 35px;
        margin-right: 20px;
      }
    }

    .nav-option {
      position: relative;
      top: 50px;
      border-top: 1px solid $alt-color;
      visibility: hidden;

      span {
        position: relative;
        left: 5vw;
      }
    }

    .nav-head {
    }

  }

  #img-ufo {
    width: 55vw;
    padding-top: 50px;
  }

  #description {
    text-align: center;
    width: 80%;
    font-size: 5vw;
    font-style: normal;
    font-weight: 300;
    line-height: 5vh;
    margin-bottom: 10px;

    #description-bold {
      font-weight: 600;
    }
  }

  #btn-more {
    width: 78vw;
    height: 9vh;
    border: 0px;
    margin-bottom: 35px;
    color: $main-color;
    background-color: $light-grey;
    border-bottom: 6px solid $dark-grey;

    font-weight: 300;
    font-size: 4vw;
  }
}



.deal-container {

  color: white;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 850px;

  .deal {
    background: $light-grey;
    border-radius: 6px;
    height: 340px;
    width: 80%;
    text-align: center;

    .deal-title {
      font-size: 4.5vw;
      font-weight: 700;
      padding: 20px;
      position: relative;
      top: 5px;
    }

    .hr-embossed {
      width: 100%;
      height: 0;
      color: none;
      background: none;
      border: none;
      border-top: 1px solid #555555;
      border-bottom: 1px solid #777777;
    }

    .deal-price {
      font-size: 12vw;
      font-weight: 300;
      padding: 11px;
      padding-top: 40px;
    }

    .white-line {
      width: 42vw;
      height: 10px;
      background-color: $main-color;
      position: relative;
      left: 24%;
    }

    .deal-description {
      text-align: center;
      width: 46vw;
      position: relative;
      left: 21%;
      top: 11%;
      font-size: 17px;
      font-weight: 300;
      line-height: 20px;
    }
  }
}

#more-deals {
  background-color: $alt-color;
  color: $main-color;
  font-size: 24px;
  display: flex;
  width:100%;
  height: 100px;
  justify-content: center;
  align-items: center;

  #more-deals-text {
    font-weight: 700;
    font-size: 30px;
    margin-right: 20px;
  }
}

#footer {
  background-color: $dark-grey;
  color: $light-grey;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-text {
  width: 50%;
  text-align: center;
}